.center {
	text-align: center;
}
.blue1 {
	color: #00f;
}
.red1 {
	color: #f00;
}
@font-face {
	font-family: "宋体SimSun";
	src: url("fonts/SimSun.otf"), url("fonts/simsun.ttf");
}
.smsn {
	font-family: "宋体SimSun";
}
.green1 {
	color: #008000
}